name: CI
permissions:
  contents: read

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(ci): Bump version to')"
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: make deps

      - run: go fmt ./...
      - run: go vet ./...

      - uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"

      - name: Generate coverage report
        run: make test-coverage

        if: ${{ matrix.go-version == '1.25' }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Build binary
        run: make build

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: specular-binary
          path: bin/specular
